.textbox {
	height: 18px;
	margin: 0px;
	padding: 1px 2px;
	box-sizing: content-box;
}

/*表单样式*/
.form {
	margin: 0;
	padding: 5px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	text-align: right;
	width: 80px;
}

.fitem input {
	width: 160px;
}

.fitem select {
	width: 160px;
}